/.nuget/*.exe
/RedGate.Publishing.InteractiveSql.AspNet/bin/
/RedGate.Publishing.InteractiveSql.AspNet/obj/
/RedGate.Publishing.InteractiveSql.Courses/bin/
/RedGate.Publishing.InteractiveSql.Courses/obj/
/RedGate.Publishing.InteractiveSql.SelfHosted/bin/
/RedGate.Publishing.InteractiveSql.SelfHosted/obj/
/RedGate.Publishing.InteractiveSql.Tests/bin/
/RedGate.Publishing.InteractiveSql.Tests/obj/
/RedGate.Publishing.InteractiveSql.Web.Tests/bin/
/RedGate.Publishing.InteractiveSql.Web.Tests/obj/
/RedGate.Publishing.InteractiveSql.Web/bin/
/RedGate.Publishing.InteractiveSql.Web/obj/
/RedGate.Publishing.InteractiveSql/bin/
/RedGate.Publishing.InteractiveSql/obj/
/TestResults/
/debug.log
/packages/

