<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <razor disableAutoIncludeModelNamespace="false">
  </razor>
  <appSettings>
    <add key="SqlServerInstance" value=".\sql2008"/>
    <add key="SqlServerDatabaseName" value="InteractiveSql2"/>

    <add key="SqlServerAdminUsername" value="interactive-sql-admin"/>
    <add key="SqlServerAdminPassword" value="password1"/>

    <add key="SqlServerUnprivilegedUsername" value="interactive-sql-client"/>
    <add key="SqlServerUnprivilegedPassword" value="password1"/>

    <add key="webPages:Enabled" value="false"/>
  </appSettings>
</configuration>
