@Master['master.html']

@Section['AllLessonsUrl']/#all-lessons@EndSection

@Section['Content']

  <h2>About</h2>

<p>
  There are surprisingly few places to learn SQL from scratch,
  especially if you don't have a technical background.
  Learn Some SQL is an early "learning by doing" prototype for T-SQL.
</p>

<p>
  We've spent about a week building Learn Some SQL so far.
  We're keen to hear any feedback you have, to see if it's worth continuing.
  Let us know what you think at <a href="mailto:hello@learnsomesql.com">hello@learnsomesql.com</a>.
</p>

<p>Thanks!</p>

<p>Michael Williamson and Tom Russell, Red Gate Software</p>

@EndSection