<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nancyFx" type="Nancy.Hosting.Aspnet.NancyFxSection" />
  </configSections>
  <nancyFx>
    <bootstrapper assembly="RedGate.Publishing.InteractiveSql.Web" type="RedGate.Publishing.InteractiveSql.Web.InteractiveSqlBootstrapper" />
  </nancyFx>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
    <httpHandlers>
      <clear />
      <add verb="*" type="RedGate.Publishing.InteractiveSql.AspNet.InteractiveSqlHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <clear />
      <add name="Nancy" verb="*" type="RedGate.Publishing.InteractiveSql.AspNet.InteractiveSqlHttpRequestHandler" path="*" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <appSettings>
    <add key="SqlServerInstance" value=".\sql2008" />
    <add key="SqlServerDatabaseName" value="InteractiveSql2" />
    <add key="SqlServerAdminUsername" value="interactive-sql-admin" />
    <add key="SqlServerAdminPassword" value="password1" />
    <add key="SqlServerUnprivilegedUsername" value="interactive-sql-client" />
    <add key="SqlServerUnprivilegedPassword" value="password1" />
    <add key="LogstashTcpServer" value="" />
  </appSettings>
</configuration>