<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlServerInstance" value=".\sql2008" />
    <add key="SqlServerDatabaseName" value="LearnSomeSqlTest" />
    
    <add key="SqlServerAdminUsername" value="LearnSomeSqlTest" />
    <add key="SqlServerAdminPassword" value="password1" />
    
    <add key="SqlServerUnprivilegedUsername" value="LearnSomeSqlTestRO" />
    <add key="SqlServerUnprivilegedPassword" value="password1" />
  </appSettings>
</configuration>